<div class="modal-content-container">
	<div id="header">
		<div class="active">Forgot your password?</div>
		<div class="clear"></div>
		<img id="close" src="/img/red-close.png" border="0" ng-click="dismiss()" />
	</div>
	<div class="body" ng-show="( route == 'request' )">
		<div class="panel-item">Submit your email address and we’ll send you password reset instructions.</div>
		<div class="panel-item input-container"><input type="text" id="forgot-password" ng-model="userEmail" ng-class="{error : emailError == true }" /></div>
		<div class="panel-item">
			<span class="error-message">{{ emailErrorMessage }}</span>
			<div class="right"><button id="update-account-button" ng-click="sendPassword()">Submit</button></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="body" ng-show="( route == 'confirm' )">
		<div class="panel-item">Password reset instructions have been sent to your inbox</div>
	</div>
</div>