<div id="splash-body-content">
	<div id="header-bar">
		<img id="splash-logo" src="/img/logo.png" border="0" />
		<div class="right"><button ng-click="logIn()" class="sign-in">Sign in</button></div>
		<div class="right"><button class="request-invite" ng-click="requestInvite()">REQUEST INVITE</button></div>
		<div class="clear"></div>
	</div>
	<div id="main-body">
		<div class="panel-body">
			<div class="panel-header">Set your password</div>
			<div class="panel-intro">If you don't have an account, <a ng-click="requestInvite()">request an invite</a></div>
			<div class="panel-error-message">{{ resetAlert }}</div>
			<div class="panel-item input-container panel-padding"><input type="password" placeholder="Your new password" ng-model="newPassword" /></div>
			<div class="panel-item input-container panel-padding"><input type="password" placeholder="Confirm your password" ng-model="newPasswordConfirm" /></div>
			<div class="communication-select"><input type="checkbox" ng-checked="acceptCommunication" /> Please keep me in the loop</div>
			<div class="communication-select-additional">(We will never share your email address, just keep you up to date with Boardthing.)</div>
			<div class="panel-item">
				<div class="left"><button class="authenticate-button" ng-click="resetPassword()">SIGN IN</button></div>
		   		<div class="clear"></div>
			</div>
		</div>
	</div>
</div>