<div class="modal-content-container">
	<div id="header">
		<div class="active">Request an Account</div>
		<div class="clear"></div>
		<img id="close" src="/img/red-close.png" border="0" ng-click="dismiss()" />
	</div>
	<div class="body">
		<div class="panel-item">
			<p>Hi {{ firstname }}</p>
			<p>Thanks for requesting an account at BoardThing.com. We are currently in private beta and are adding users as we can accommodate them. We will save your place in line and notify you as soon your account is available.</p>
			<p>Thanks for your patience!</p>
			<p>Gareth, Ramos and Dave<br/>(The BoardThing team)</p>
		</div>
	</div>
</div>