<div id="splash-body-content" ng-show="showPage">
	<div id="main-body">
		<div id="splash-header"><img id="splash-logo" src="/img/LogoMain.png" border="0" /></div>
		<div class="splash-main-container">
			<div class="splash-panel-nav">
				<div class="splash-button-container"><input class="splash-button" type="button" ng-click="logIn()" value="Log In"></input></div>
				<div class="splash-button-container"><input class="splash-button" type="button" ng-click="createAnAccount()" value="Create an Account"></input></div>
			</div>
			<div class="splash-panel">
				<div class="header">Get the links to articles posted by the people you follow in one list</div>
				<p>Do you ever wish it was easier to find the links people you follow on Facebook and Twitter have posted? If so, LinkMash might be the app for you.</p>
				<p>LinkMash combines the article links from Facebook and Twitter into one list and then allows you to quickly find the things that interest you.</p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="splash-main-container"><img id="splash-screenshot" src="/img/screenshot.png" border="0" /></div>
	</div>
</div>